apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{{ dummysite_name }}}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{{ dummysite_name }}}
  template:
    metadata:
      labels:
        app: {{{ dummysite_name }}}
    spec:
      containers:
        - name: {{{ dummysite_name }}}
          imagePullPolicy: Always
          image: dievskiy/dummysite:v1
          env:
            - name: website_url
              value: {{{ website_url }}}